.o-app__header
  padding: 1rem 0

  +from(sm)
    padding: 2rem 0

  .o-col
    &.is-right
      align-items: flex-end

.c-brand
  display: block
  +typo
  font-weight: 600

  &:focus,
  &:hover
    text-decoration: none

.c-list
  list-style: none
  margin: 0
  padding: 0

  &.is-right
    text-align: right

.c-item
  +typo
